<% if current_user && current_user.newbie? %>
<div class="mb-4 card">
  <div class="card-header"><%= t("topics.newbie_tip") %></div>
  <div class="card-body">
    <%= raw Setting.newbie_notices %>
  </div>
</div>
<% else %>

<%= link_to main_app.new_topic_path(node: @node&.id), class: "flex justify-center items-center md:hidden fixed bottom-4 right-4 rounded-full overflow-hidden bg-primary w-9 h-9 text-white", style: "z-index: 1000;" do %>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg>
<% end %>

<div class="mb-4 card hidden md:block">
  <div class="card-body">
    <%= link_to t('topics.new_topic'), main_app.new_topic_path(node: @node&.id), class: 'btn btn-primary btn-block' %>
  </div>
</div>
<% end %>

<%= raw Setting.topic_index_sidebar_html %>

<% cache(["sidebar_active_users",Time.now.strftime("%Y-%m-%d %H")]) do %>
<div class="mb-4 card">
  <div class="flex items-baseline justify-between card-header">
    <%= t('common.active_users') %>
    <a href="<%= main_app.users_path %>" class="text-sm text-gray-400"><%= t("common.more") %></a>
  </div>
  <div class="grid grid-cols-4 gap-2 p-3">
    <% Counter.active_users(limit: 20).each do |user| %>
      <div class="flex flex-col gap-1 text-center">
        <%= user_avatar_tag(user, :md) %>
        <%= user_name_tag(user, class: "text-sm text-gray-600 truncate") %>
      </div> 
    <% end %>
  </div>
</div>
<% end %>

<% cache(["sidebar_statistics",Time.now.strftime("%Y-%m-%d %H")]) do %>
<div class="mb-4 card">
  <div class="card-header"><%= t("common.statics")%></div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= t("common.statics_users_count", count: User.unscoped.count) %></li>
    <li class="list-group-item"><%= t("common.statics_topics_count", count: Topic.unscoped.count) %></li>
    <li class="list-group-item"><%= t("common.statics_replies_count", count: Reply.unscoped.count) %></li>
  </ul>
</div>
<% end %>
